<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dummy">
	<resultMap type="HashMap" id="loginresult">
		<result property="ACCOUNT_ID" column="ACCOUNT_ID" javaType="java.lang.Long" jdbcType="NUMERIC"/>
		<result property="EMAIL" column="EMAIL" />
		<result property="PASSWORD" column="PASSWORD" />
		<result property="NAME" column="NAME" />
		<result property="GENDER" column="GENDER" />
		<result property="BIRTH" column="BIRTH"  />
		<result property="FOLLOW_COUNT" column="FOLLOW_COUNT" javaType="java.lang.Long" jdbcType="NUMERIC"/>
		<result property="AREA" column="AREA" />
 
	</resultMap>
	<select id="email" resultType="java.util.HashMap" resultMap="loginresult">
		select * from account where email
		= #{email}

	</select>
	<select id="login" resultType="java.util.HashMap" resultMap="loginresult">
		select * from account where email
		= #{email}

	</select>









</mapper>