<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profile">

	<!-- <resultMap type="HashMap" id="recipe-Result-Map"> <result property="POST_ID" 
		column="POST_ID" javaType="java.lang.Long" jdbcType="NUMERIC" /> <result 
		property="WRITER_ID" column="WRITER_ID" javaType="java.lang.Long" jdbcType="NUMERIC" 
		/> <result property="BOOKMARK_COUNT" column="BOOKMARK_COUNT" javaType="java.lang.Long" 
		jdbcType="NUMERIC" /> </resultMap> -->
	<select id="recipetitle" resultType="java.util.LinkedHashMap">
		select TITLE,POST_ID,MAIN_IMG from post where writer_id = #{userId}
	</select>
	<!-- <seclct id="comment" resultType="java.jtil.LikedHashMap"> select </select> -->
	<select id="bookmarktitle" resultType="java.util.LinkedHashMap">
		select
		BM.BOOKMARK_ID,BM.USER_ID,P.TITLE,P.MAIN_IMG from BOOKMARK BM join
		POST P ON BM.POST_ID = P.POST_ID where BM.USER_ID = #{userId}
	</select>
	<select id="Followingtitle" resultType="java.util.LinkedHashMap">
		select F.TARGET_ID, A.EMAIL, A.NAME
		from follow F join ACCOUNT A ON F.TARGET_ID = A.ACCOUNT_ID  where F.OWNER_ID=#{userId}
	</select>
	<select id="Followertitle" resultType="java.util.LinkedHashMap">
		select F.OWNER_ID, A.EMAIL, A.NAME  from follow F join ACCOUNT A ON F.TARGET_ID = A.ACCOUNT_ID where F.TARGET_ID=#{userId}
		
	</select>
	<update id="profileimgchange">
	update account set profile_img = #{profile_img} where account_id=#{account_id}
	</update>
</mapper>