@charset "UTF-8";

.ingredients {
	font-size: 12px;
	font-family: 'NanumGothic'
}

.col-centered{
    float: none;
    margin: 0 auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e0e0e0;
}